*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
nav{
  background: black;
  height: 300px;
  width: 100%;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #f7327a;
  transition: .5s;
}
nav h1{
  text-align: center;
  color: black;
  font-size: 90px;
}
nav h2{
  text-align: center;
  color: #fff;
  font-size: 70px;
}
abt h1{
  text-align: center;
  color: black;
  font-size: 50px;
  margin-top: 20px;
}
abt h3{
  text-align: center;
  color: white;
  font-size: 30px;
}
abt p{
  text-align: center;
  color: black;
  font-size: 20px;
}
.past p{
  text-align: center;
  color: white;s
  font-size: 40px;
  padding: 7px 13px;
  background-color:  #f7327a
}
